/* CSS for the sidebar */
.sidebar {
    width: 380px;
    background-color: rgba(144, 101, 176, 0.08);
    padding: 20px;
    position: fixed;
}

/* CSS for the create post container */
.create-post-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

/* CSS for the status options */
.status-options {
    display: flex;
    margin-top: 20px;
}

.status-options label {
    margin: 0 20px; /* Adjust spacing between radio buttons and labels */
    font-size: 2rem;
}

.status-options input[type="radio"] {
    margin-right: 5px; /* Adjust spacing between radio buttons */
    width: 20px;
    height: 20px;
}

/* CSS for the create post content */
.form-create {

    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 380px; /* Adjust margin-left to accommodate the sidebar width */
}

.create-post-container h2 {
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'pnb';
    font-size:35px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    text-align: center;
    font-weight: bold;
}

/* CSS for the create post form */
.create-post-container form {
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Set background color for the form */
    border-radius: 10px; /* Add some border-radius for rounded corners */
    box-shadow: 0 0 10px rgb(150, 153, 232); /* Add a subtle shadow for depth */
    width: 80%;
    margin-bottom: 100px;
}

.create-post-container .form-group {
    margin-bottom: 30px; /* Increase margin between form groups */
}

.create-post-container label {
    font-size: 20px; /* Increase font size for labels */
    color: #000000; /* Adjust color for labels */
}

.create-post-container .form-group label[for="startTime"],
.create-post-container .form-group label[for="endTime"] {
    margin-left: 130px; 
}

input#name,
input#location,
input#facultyName,
.create-post-container textarea,
.create-post-container input[type="number"] {
    width: 100%;
    height: 50px;
    padding: 15px; /* Increase padding for inputs */
    border: 1px solid #ccc;
    border-radius: 8px; /* Round the input corners */
    box-sizing: border-box;
    font-size: 20px; /* Adjust font size for inputs */
    color: #555;
    transition: border-color 0.3s ease; /* Add transition for input border color */
    margin-top: 15px;
}

/* Additional styling for registry date and time inputs */
.create-post-container input[type="date"] {
    border-radius: 8px;
    font-size: 2.3rem;
    width: 20%;
    height: 50px;
    margin-bottom: 10px; /* Add some margin below the inputs */
    margin-left: 30px;
}

.create-post-container input[type="time"] {
    border-radius: 8px;
    font-size: 2.3rem;
    width: 20%;
    height: 50px;
    margin-bottom: 10px; /* Add some margin below the inputs */
    margin-left: 30px;
}

.create-post-container textarea {
    resize: vertical; /* Allow vertical resizing for textarea */
}

/* Button styles */
.create-buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 300px;
}
button.ant-btn.css-dev-only-do-not-override-djtmh8.ant-btn-default.create-test-button{
    padding: 10px;
}
.create-buttons button {
    height: 60px;
    width: 250px;
    background-color: rgb(210, 205, 205);
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 2.3rem;
}


.create-activity-button:hover {
    transform: translateY(-2px);
    background-color: rgb(10, 190, 91); 
    color: white;
}

.create-test-button:hover {
    transform: translateY(-2px);
    background-color: #e6e634;
    color: white; 
}


/* CSS for the status switch */
.switch-container {
    display: flex;
    align-items: center;
}

.switch-container span {
    flex: 1;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 2.5rem;
    margin-right: 20px;
}

.switch-container .public {
    color: #ffea00; /* Highlight color for public */
}

.switch-container .private {
    color: #969696; /* Highlight color for private */
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 80%; /* Set the width to 100% to cover the switch */
    height: 34px;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4eafeb;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e221f3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Styling for the select dropdown */
.form-group select {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 2rem;
    background-color: #fff;
    color: #333;
}

/* Styling for the dropdown arrow */
.form-group select::after {
    content: '\25BC';  /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
}

/* Styling for the dropdown options */
.form-group select option {
    font-size: 2rem;
    background-color: #fff;
    color: #333;
}
/* START DRAWER AND QUESTION FORM */
.ant-drawer-content-wrapper{
    width: 800px !important;
}
.ant-form-item.form-question.css-dev-only-do-not-override-djtmh8 label {
    color: red;
    font-size: 20px;
    font-family: 'pnb';
}

.ant-form-item.form-answer.css-dev-only-do-not-override-djtmh8 label,
.ant-form-item.form-correct.css-dev-only-do-not-override-djtmh8 label {
    font-size: 17px;
    font-family: 'pnb';
}

.ant-divider.css-dev-only-do-not-override-djtmh8.ant-divider-horizontal.form__divider {
    height: 1.5px;
    background-color: rgb(178, 171, 171);
}
.ant-select.ant-select-outlined.ant-select-in-form-item.css-dev-only-do-not-override-djtmh8.ant-select-single.ant-select-show-arrow{
    width: 40%;
}

/* END DRAWER AND QUESTION FORM */