@import url('/assets/css/fonts.css');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    display: block;
}

strong {
    font-family: pnb;
}

a {
    text-decoration: none;
    outline: 0;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
html {
    font-size: 62.5%;
    font-family: 'pnr', sans-serif;

}

body {
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
    font-family: pnr;
    line-height: normal;
}

.container {
    height: 100%;
    width: 100%;
    max-width: var(--container-max-width);
    padding-right: var(--gap);
    padding-left: var(--gap);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#root{

    --main-color: #FBF9F5;
    --content-color: #000000;
    --text-color: #fff;
    --color-btn: #FF0000;
        
    --color-tan: #bea67c;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #464646;

    --fs-h1: 7.4rem;
    --lh-h1: normal;
    --lsp-h1: 0.5rem;
    
    --fs-h2: 4.6rem;
    --lh-h2: 5.6rem;
    --lsp-h2: 0.3rem;
    
    --fs-h3: 2.8rem;
    --lh-h3: 2.4rem;
    --lsp-h3: 0.072rem;

    --fs-body: 2.5rem;
    --lh-body: 2.5rem;
    --lsp: 0.036rem;

    --fs-medium: 2.2rem;
    --lsp-medium: 0.036rem;

    --fs-small: 1.9rem;
    --lh-small: normal;
    --lsp-small: 0.056rem;

    --text-trans: uppercase;


    --width-fixed: 310px;
    --height-fixed: 65.5px;
}
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    outline: 0;
    object-fit: contain;
}

img.--center {
    margin: 0 auto;
    display: block;
}
/* main{
    margin-left: var(--width-fixed);
    margin-top: var(--height-fixed);
    height: 100%;
} */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.btn {
    font-family: pnb;
    line-height: var(--lh-btn);
    letter-spacing: var(--lsp-btn);
    padding: 15px 30px;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid;
    margin: 0 auto;
    width: fit-content;
}

.btn a,
.btn .btn-text {
    font-size: 20px;
    text-transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: none;
}
.form{
    margin-top: 50px;
}
.form-error {
    margin-top: 10px;
    font-size: 12px;
    color: white;
    margin-left: 5px;
}

.form .inputgroup {
    margin-bottom: 15px;
    position: relative;
}

.form .inputgroup input {
    font-size: 22px;
    padding-bottom: 100px;
}

.form .inputgroup .form-control {
    height: 50px;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px 10px 50px;
    border: 1px solid;
}

.form .inputgroup i {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, calc(-50% - 17px));
    left: 25px;
}

.form .inputgroup i img {
    height: 30px;
    width: 30px;
}
/* Login page */
.loginpage{
    padding-top: 50px;
}
.loginpage .loginpage__wrapper{
    display: flex;
    justify-content: center;
}
.loginpage .loginpage__wrapper .loginpage__wrapper-form .textbox .title{
    font-size: var(--fs-h1);
}
.loginpage .loginpage__wrapper .loginpage__wrapper-form .logo{
    display: flex;
    justify-content: center;
}
.loginpage .loginpage__wrapper .loginpage__wrapper-form .logo img{
    max-width: 300px; /* Đặt kích thước mới cho ảnh */
    height: auto;
}

.homepage-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.header {
    flex: 0 0 auto; /* Không co giãn, không co thu gọn, giữ nguyên kích thước */
    background-color: white;
    padding: 20px;
}

/* Add this CSS to your existing stylesheet or create a new one */
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: yellow; /* Set the color to yellow */
}

.spinner {
    position: absolute; /* Position the spinner */
    top: 50%; /* Align it vertically */
    left: 50%; /* Align it horizontally */
    transform: translate(-50%, -50%);
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 5px solid #ffffff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Side bar styling */
.sidebar {
    flex: 1;
    width: 400px;
    background-color: rgba(144, 101, 176, 0.08);
    padding: 20px;
    border: 2px solid black;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Fix to the left side */
    height: 100vh; /* Set the height to 100% viewport height */
  }
  
  /* Rest of the content styling */
  .content {
    margin-left: 200px; /* Make space for the sidebar */
    padding: 20px;
  }

/* This part is for the avatar image styling */
.avatar img {
    width: 100px; /* Example size, adjust as needed */
    height: 100px;
    border-radius: 50%; /* Makes the avatar image circular */
    display: block; /* Corrected from your initial CSS */
    margin: 0 auto; /* Centers the avatar in its container */
}

/* Styling for the sidebar menu */
.sidebar-menu {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black; /* Sets the text color to black */
    font-size: 18px; /* Increases the font size */
}

.sidebar-menu li a:hover {
    background-color: #00040a; /* Example hover effect */
    color: white;
}

.sidebar-menu li a.active-link {
    background-color: #e0a907; /* Or any color you wish to indicate active state */
    color: white;
}

.avatar-and-name {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between the avatar and username as needed */
    padding-bottom: 20px;
}

.username {
    display: flex;
    font-size: 30px; /* Adjust size as needed */
    color: #333; /* Adjust the color as needed */
    font-family: '../fonts/ProximaNova-Regular.woff';
}

.sidebar-item {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.sidebar-item a {
    font-size: 3rem;
    display: block;
    background-color: white; /* Default background color */
    color: black; /* Default text color */
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}


.main-content {
    flex: 5; /* Cột phải chiếm 2 phần */
    background-color: rgba(144, 101, 176, 0.08);
    position: relative;
    border: 2px solid black;
    margin-left: 430px;
}

.progress-box {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width here */
    display: flex;
    align-items: center;
    background-color: white; /* Add background color */
    padding: 10px; /* Optional: Add padding for better appearance */
}

.progress-bar {
    flex: 1;
    height: 20px; /* Adjust the height of the progress bar */
    background-color: #ddd;
}

.progress {
    height: 100%;
    width: 70%; /* Adjust the width of the progress bar */
    background-color: green;
}

.progress-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
/* Update Page */
.update-page-main{
    margin-left: 430px;
    padding: 20px 40px;
}
input.ant-input.css-dev-only-do-not-override-djtmh8.ant-input-outlined.input-name{
    margin: 20px 0;
}
/* Update Page */