/* CSS for TestPage component */
body {
    background-color: beige;
}
.create-questions-container {
    padding-top: 20px;
    width: 65%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(185, 46, 224, 0.259);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-questions-container .submit-button {
    width: 100%;
    margin-top: 50px;
    background-color: #b4f6b6; /* Green submit button */
    color: rgb(13, 13, 13);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 2rem;
    text-transform: uppercase; /* Uppercase text */
    align-self: flex-end;

}

.create-questions-container .submit-button:hover {
    color: white;
    background-color: #45a049; /* Darker green on hover */
}
