
 /* CSS for QuestionCard component */

.question-card {
    width: 80%; /* Set width to 100% to fit its container */
    background-color: #ffffff;
    border: 5px solid #dbef9b;
    border-radius: 8px;
    padding-top: 22px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-card h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333; /* Darken the heading color */
    font-weight: bold;
}

.options {
    display:inline;
    flex-direction: column;
}

.option {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px;
}

.option input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer; /* Show pointer cursor on hover */
    margin-bottom: 10px;
}

.option label {
    font-size: 2.2rem;
    cursor: pointer; /* Show pointer cursor on hover */
    color: #333; /* Darken the text color */
    margin-bottom: 10px;
}

/* Additional style for hidden input */
input[type="hidden"] {
    display: none;
}
