.training-point-detail .ant-spin-container{
  margin-right: unset !important;
}
.training-point-detail {
  padding: 20px;
}
.training-point-detail th{
  font-size: 21px;
  font-family: 'pnb';
}
.training-point-detail td{
  font-size: 20px;
  font-family: 'pnr';
}
.training-point-detail ul.ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-djtmh8{
  display: none;
}
.total-point{
  font-size: 23px;
  margin-top: 30px;
  font-family: 'pnb';
}
